@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
body {
    background-color: #eeeeee;
    font-family: Titillium Web, monospace;
    font-size: 1.1em;
    color: #aa3333;
}

#header {
    position: fixed;
    top: -5px;
    width: 100vw;
    height: 80px;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 2fr 1fr 100px;
}

#header-logo {
    display: flex;
    margin-left: 10px;
}

#header-img {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

#nav-var {
    margin-top: 10px;
}

.nav-link {
    margin-right: 5px;
    display: inline;
}

#main {
    width: 80vw;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form label {
    font-family: Zen Tokyo Zoo;
    font-size: xx-large;
}

.form-into {
    font-size: 1.3em;
    display: inline;
    margin: 10px;
}

.descripcion {
    margin: 20px auto;
    display: flex;
    align-items: center;
}

#main-nosotros {
    width: 80%;
    margin: 30px auto;
}

img {
    width: 50%;
    height: 50%;
}

#video {
    width: 680px;
    height: 480px;
}

#main-productos {
    margin-top: 100px;
    width: 80%;
    height: 450px;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.producto {
    width: 30%;
    margin: 0 auto;
    height: 340px;
    padding-bottom: 40px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.producto h2 {
    background-color: #bbbbbb;
    border-top: 5px solid #bbbbbb;
    border-bottom: 5px solid #bbbbbb;
}

P {
    line-height: 0.9em;
}

h3 {
    line-height: 0.9em;
}

.producto input {
    width: 25%;
    margin: 0 auto;
}

#footerr {
    background-color: #bbbbbb;
    width: 60vw;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footerr-links ul li {
    display: inline-block;
}

footer {
    float: right;
}

@media screen and (max-width:500px) {
    #header {
        position: fixed;
        top: -5px;
        width: 100%;
        height: 130px;
        background-color: #eeeeee;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px;
    }
    #main {
        width: 80vw;
        margin: 130px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main-nosotros {
        width: 100%;
        margin: 10px auto;
    }
    #video {
        width: 320px;
        height: 240px;
    }
}